<link rel="stylesheet" href="contact.css">
<div class="contact">
    <div class="head">
      <h3>Contact us</h3>
      <i class="fa fa-comment fa-lg"></i>
    </div>
    <form method="post" action="/contact" >
    <form>
      <label >Name</label>
      <input name="name" type="text">
      <label >Email</label>
      <input  name="email" type="email">
      <label >Message</label>
      <textarea  name ="message1" placeholder="Enter Your Message"></textarea>
   <button> <input type="submit"></button>
    </form>
  </div>
  <div> <center><button><a href="/next33" style="color: white;"  <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>