<link rel="stylesheet" href="/home.css" />
<section class="hero">
    <header id="header">
        
        <div class="navbar">
            <div class="icon">
                <div class="bg-illustration">
                    <img src="in1.jpg" alt="logo">
                
            </div>
     
    </div>
    </header>
    
    <footer class="hero-footer">
      <a class="button button-primary" href="/create">create your account free</a>
      
    </footer>
  </section>
  <article>
  <center>  <h2>Some additional content</h2>
    <p>We all know the place that the cloud plays in our lives today because it makes it easier for us to use remote computer servers
         hosted on the internet to store, manage and process data, rather than a local server or a computer staff which helps us
          to protect our data despite the loss of our computer and also we can access our data any place and any time. This is why
         the role of our application SKYHIVE VI en to give you a complete training on the term cloud of its different aspects.</p></center>
        
            
         
          
     
  </article>
 