<link rel="stylesheet" href="/page8.css" />
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div>
    <img src="a1.jpg"  >
    
    </div>
<center> <h1 style="font-size:140% ;text-decoration: underline;"> Open Cloud Consortium:</h1></center>

  <script src="https://kit.fontawesome.com/e391ce7786.js" crossorigin="anonymous"></script>
</head>
<body>
    <p style="font-size:140% ">Open Virtual Machine Format or OVF has been proposed as a storage standard1 on
        disk virtual machine images for multiple virtualization platforms.
        Some players in this industry are collaborating in this initiative led by
        the DMTF (Distributed Management Task Force, Inc.), such as Novell, Dell, HP,
        IBM, Microsoft, VMware, and XenSource (Citrix).
        
<br>
The Distributed Management Task Force (DMTF) has accepted this new portable format
for virtual machines from leading players in the software industry.
virtualization platforms.
<br>
This new specification created by Dell, HP, IBM, Microsoft, VMware, XenSource for
become a standard, should make it possible to guarantee portability, integrity, and
automate the installation/configuration phases of virtual machines.

<br>

The "Open Virtual Machine Format" (OVF) specification is a specification
neutral with respect to the hypervisor; which must be efficient, expandable to future platform developments and open to ensure its independence. She defines the
principles of assembly and distribution of virtual appliances composed of one or
multiple virtual machines. It should facilitate automated and secure management, not
only virtual machines but appliances as a functional unit.
For the OVF format to be successful, it must be recognized and developed by ISVs,
virtual appliance vendors as well as platform vendors, in
a framework with a well-defined standard.
        
</p>

    <div> <center><button><a href="/next22"  style="color: white;"<span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>
 
 
</body>