<link rel="stylesheet" href="/page10.css" />
<header>
    <div class="container">
      <div class="slika">
        <div class="bg-illustration">
        <img src="in1.jpg" alt="logo">
    </div>
    
   <div>
  <center>  <h1 style="color: blue;text-decoration: underline;">paravirtualisation

:    </h1></center>
   </div> 
   <center> <div><p1 style="text-decoration: solid;font-size: 160%;">For this generation of virtualization a modification of the system kernel
    guest operating system is modified to run in virtualized form. The objective of
    this technique is to offer almost identical access to hardware resources
    (memory and I/O) between host and guest system. If this goal is achieved, the
    performance of the virtualized system is really very close to that of the hardware on
    which it is executed. The main obstacle to the development of this technique is
    precisely in the modification of the kernel of the guest system. If the system to be virtualized
    has no functions dedicated to paravirtualization in its kernel, this technique
    is unusable and the only virtualization solution is to use an emulation
    full of hardware.
    </center><br>
    <center>  <img src="n15.png" alt="portrait1"></center> 
    </p1></div>
    <center>  <div><p1 style="font-size: 160%;">Features :

        :</p1></div></center>
    
      <p style="font-size: 160%;border-style: solid;">  &#128276;Adaptation of the guest OS to the virtualization layer


.        
        <br>
        &#128276;Changes to its hardware calls.<br>
        &#128276;Guest OS aware of being virtualized

.
        
        <br>
        &#128276;No host OS.
        <br>
        &#128276;Good performance.


        
    </p> 


    
    

</header>  
<div> <center><button><a href="/next16"  style="color: white;"<span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>