<link rel="stylesheet" href="/page12.css" />

<!doctype html>
<html>
    <meta charset ="utf-8">
    <meta name ="viewport" content="width=device-width, intial-scale=1">
    <title>Custom Coding</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
     
     
         
     </style>
    
    </head>
    <body>
        <header>
           
            </header>
            
            <section class="hero">
            <div class="background-image" style="background-image: url(https://wallpaper-house.com/data/out/7/wallpaper2you_139824.jpg)"></div>
                <div class="hero-content-area">
                <h1 style="text-decoration: underline;">Cloud Computing and Green IT:</h1>
                    <h3>Previously, within the IS, the infrastructures specific to the company, had to be
                        sized to be able to absorb the company's load peaks but
                        in practice, these infrastructures were only running at 15 to 25% of their
                        capacity in most cases which means most of the year 75%
                        paid for capacity and with it the capital tied up to build it is wasted.
                        Indeed today a good number of SIs are launching into Cloud solutions
                        Computing to reduce the cost of electricity consumption, maintenance, and purchase of
                        new hardware within the IS. This is where virtualization comes in, which is the foundation
                        of Cloud Computing.
                        The question is: Do you turn "green" automatically by
                        moving to the Cloud? Well, the answer is YES! What is
                        the environment? Any activity that does not consume too much energy and use too much
                        natural resources is considered environmentally friendly. And Cloud
                        Computing specifies energy savings from start to finish: it becomes a factor in
                        
                        green IT. Let's try to consider this issue in depth. One of the principles
                        of Cloud Computing is the ability to use the services as needed and pay
                        depending on use. In addition, these services operate on an infrastructure
                        shared. So you use energy just as much as you need, and using
                        existing resources without having to invest in new infrastructure
                        additional. No additional computers. Additional computers
                        would have meant extra idling time as well. So all of this is
                        avoided with the concept of utilitarian computing. Then it is important for us to
                        understand the nature of the energy computer systems consume and their
                        environmental impact. Every search, every activity we perform on
                        the computer leaves a carbon footprint. So big, IT infrastructure
                        complexes must be consume high levels of energy. A study conducted
                        by Gartner pegs the energy consumption of the IT industry at 2% of the
                        global energy consumption. So moving to the Cloud is a great way
                        to check the energy consumption. Several articles and research material
                        indicate the various reasons why Cloud Computing really helps
                        organizations curb their carbon footprint and contribute significantly to the
                        sustainable life.
                        
                        
                        </h3>
                        <div>
                       <p1 style="font-size: 180%;">&#9757;-Several studies have reported that Cloud Computing reduces
                        the carbon footprint of an organization by almost 90% compared to that of a
                        internal computer system.<br>
                        &#9996;-Data centers that use cloud computing technologies turn out to be
                    much more efficient compared to data centers
                    traditional. Traditional Internet data centers waste a lot of energy
                    due to server underutilization, which is completely eliminated on the cloud
                    Cloud provider consortia ensure that its members optimize their
                    data centers to minimize energy consumption.<br>
                    &#9994;-Large-scale virtualization contributes enormously to energy reduction
                So moving to the cloud enables the organization's agenda to reduce costs
                related to energy and to comply with environmental objectives to a large extent
                measure. That kill two birds with one stone, and a remarkable achievement for any
                organization. Think about it!<br>
                       </p1> 
                    </div>
    
                </div>
            </div>
        </div>
            
    </section>
                <div> <center><button><a href="/next20" style="color: white;"  <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>
         
        
        
        
        
        
        
        
        
        
      
    </body>
</html>

