<link rel="stylesheet" href="/page8.css" />
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<center> <h1 style="font-size:140% ;text-decoration: underline;"> The challenges of Green IT for companies:</h1></center>

  <script src="https://kit.fontawesome.com/e391ce7786.js" crossorigin="anonymous"></script>
</head>
<body>
    <p style="font-size:140% ">Having a Green IT policy responds to several issues that companies
        companies must face today, indeed it on several levels including:
      
</p>
  <section>
    <div class="card">
   <center>  <img src="v1.jpg" alt="portrait1"></center> 
      <div class="content">
        <h2 style="color: blue ; text-decoration: underline;">Reduction of the electric bill:</h2>
        
        <center>  <p1>Reducing the electricity bill is one of the key priorities for
            the company. Energy consumption is a major item of expenditure for
            each CIO and each general management. Above all, since the electric bill
            computer is higher than the cost of purchasing the same computer. Virtualization and
            Cloud Computing are IT technologies that reduce the
            electric bill.
            
            
          
          
        </p1></center>
       
      </div>
   
    </div>

    <div class="card">
    <center> <img src="v22.jpg" alt="portrait2"></center> 
      <div class="content">
        <h2 style="color: blue ; text-decoration: underline;">Reduction of the bill:</h2>
       
        <center>    <p1>The company must optimize its computer equipment: fewer machines, but
            optimized machines. Virtualization makes it possible to consolidate the server fleet. Those
            same servers must also integrate intelligent processors - or the efficiency
            energy is maximized-, coupled with intelligent operating systems capable of
            align with the company's GreenIT policies. The company must optimize its fleet
            information.
        </p1></center> 
        
      </div>
    </div>

    <div class="card">
     <center><img src="v3.jpg" alt="portrait3"></center> 
      <div class="content">
        <h2 style="color: blue ; text-decoration: underline;">Reduced material costs

            :</h2>
      
        <center>  <p1>Virtualization makes it possible to consolidate the server fleet. These same servers must
            also integrate smart processors - where energy efficiency is
            maximized-, coupled with intelligent operating systems capable of aligning with the
            company GreenIT policies.
            Reduction of general costs
            One of the challenges for the company can also relate to the reduction of
            supplies, such as paper. By limiting the purchase of paper and setting up
            printing policies with its employees, the company optimizes its costs.
            
            

        </p1></center>
        
      </div>
    </div>
  </section>
    <section>
      <div class="card">
     <center>  <img src="v4.jpg" alt="portrait1"></center> 
        <div class="content">
          <h2 style="color: blue ; text-decoration: underline;">Reduction of the carbon footprint:</h2>
          
          <center>  <p1>The company must now measure its overall CO2 emissions in order to better
            reduce.
            
            
          </p1></center>
          
        </div>
     
      </div>
  
      <div class="card">
      <center> <img src="v5.jpg" alt="portrait2"></center> 
        <div class="content">
          <h2 style="color: blue ; text-decoration: underline;">Recycling:</h2>
         
          <center>    <p1>Recycling every component of a computer is a necessity. The company can
            select computer components built by suppliers guaranteeing
            the use of non-polluting products, in this case we speak of eco-design.
            
            
            
            
          </p1></center> 
         
        </div>
      </div>
  
     
      </div>
    </section>
    <div> <center><button><a href="/next19"  style="color: white;"<span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>
 
 
</body>
</html>
