<link rel="stylesheet" href="/page30.css" />

<header>
    <div class="container">
      <div class="slika">
        <div class="bg-illustration">
        <img src="in1.jpg" alt="logo">
    </div>
   
   <div>
  <center>  <h1 style="color: blue;text-decoration: underline;">thanks

:    </h1></center>
   </div> 
   
  
    </p1></div>
   
      <p style="font-size: 160%;"> 
        Please connect with me. It's an honor !
We are always amazed by your accomplishments. thank you for your attention throughout our training
    </p> 
     
</div>

</header>  
<div> <center><button><a href="/contact" style="color: white;"  <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>