<link rel="stylesheet" href="/page12.css" />

<!doctype html>
<html>
    <meta charset ="utf-8">
    <meta name ="viewport" content="width=device-width, intial-scale=1">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
     
     
         
     </style>
    
    </head>
    <body>
        <header>
           
            </header>
            
            <section class="hero">
            <div class="background-image" style="background-image: url(https://wallpaper-house.com/data/out/7/wallpaper2you_139824.jpg)"></div>
                <div class="hero-content-area">
                <h1 style="text-decoration: underline;color: rgb(255, 255, 255);">hardware-assisted virtualization
                    :</h1>
                    <h3>Hardware-assisted virtualization technology improves flexibility and reliability
                        traditional software solutions by accelerating key platform functions
                        virtualized. This efficiency offers advantages including:
                        Accelerate the transfer of platform control between operating systems
                        guests and the manager.
                        NB:
                        On the hardware side, developments in virtualization functions directly integrated into
                        processors tend to decrease performance gaps between systems
                        using paravirtualization and host systems. It from Intel™ (VT: Intel
                        Virtualization Technology) from AMD (AMD-V: Industry Leading Virtualization Platform
                        Efficiency) recent processors have .
                        
                        
                        
                        
                        </h3>
                        
                      
                    </div>
                    <img class="mr-1 module-image" src="n14.png" />
                   
                     
                </div>
               
            </div>
        </div>
        <h1 style="text-decoration: underline;color: rgb(247, 247, 247);">Features 

            :</h1>
            <h3>
*adaptation of the process to the problems of virtualization<br>
*specific instruction set<br>
*adaptation of protection rings<br>
*physical hardware emulation less performance loss


            </h3>

           
    </section>
                <div> <center><button><a href="/next15" style="color: white;" <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>
         
        
        
        
        
        
        
        
        
        
      
    </body>
</html>
