<link rel="stylesheet" href="/page7.css" />

<section id="intro" class="secIntro">
  <center ><h1 style="font-size: 300%; text-decoration: underline;color:  rgb(27, 27, 70);" >Open source cloud computing solutions :</h1></center>
	<p style="font-size: 140%;color: rgb(27, 27, 70); " >
       The magazine JDN the economy of tomorrow in its publication of 12/06/2013 had meant
        that: “the Cloud is not the preserve of proprietary solutions”. Indeed
        several open source Cloud Computing solutions have emerged in the field of
        Cloud; In this article six of these open Cloud solutions will be described to you.<br>
        &#127780; Eucalyptus<br>
        &#127780;OpenNebula<br>
        &#127780;OpenStack<br>
        &#127780;Niftyname<br>
        &#127780;Nimbus<br>
        &#127780;Stratuslab<br>
    </p> 
</section>  
        <div> <center><button><a href="/next7" style="color: white;" <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div> 



