<link rel="stylesheet" href="/page8.css" />
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div>
    <img src="a1.jpg"  >
    
    </div>
<center> <h1 style="font-size:140% ;text-decoration: underline;"> Cloud Computing Standards:</h1></center>

  <script src="https://kit.fontawesome.com/e391ce7786.js" crossorigin="anonymous"></script>
</head>

<body>
    <center>  <p style="font-size:140% ">Cloud Computing has developed considerably in a few years. That
        rapid growth, however, caused the emergence of many achievements
        incompatible despite the efforts of standardization groups; this lack concerns the
        security or data protection.
        However, the interoperability between the offers and the portability of the services becomes a
        very important aspect for users to be able to both maximize their return on
        investment by choosing the most suitable offers, while avoiding being
        locked up with a supplier. Virtualization plays a vital role in the means
        of Cloud Computing. Hypervisors manage servers and associated resources
        to run multiple virtual machines that use different systems
        operating. Cloud Computing Platforms That Use Types
        different hypervisors are therefore not interoperable. If you want to move a machine
        virtual machine from one platform to another, you must recreate the same virtual machine at the
        new platform standards, which can be complicated and time-consuming.
      
        
</p>

</center>


   
 
</body>
</html>
<div> <center><button><a href="/next21" style="color: white;" <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>
 