<link rel="stylesheet" href="/page9.css" />
<header>
    <div class="container">
      <div class="slika">
        <div class="bg-illustration">
        <img src="in1.jpg" alt="logo">
    </div>
    <center>  <h1 style="color: rgb(0, 0, 0);text-decoration: underline;">SalesForce and Cloud Computing/amazon and cloud computing.

        :    </h1></center>
   <div>
  <center>  <h1 style="color: blue;text-decoration: underline;">SalesForce and Cloud Computing

:    </h1></center>
   </div> 
   <center> <div><p1 style="text-decoration: solid;font-size: 160%;">Salesforce Platform accelerates application development and deployment;
    Entirely based in the Cloud, this client platform allows you to:</center><br>
  <p style="font-size: 160%;">  &#127780;Quickly create custom applications, by clicks or by code<br>
    &#127780;Connect everything with powerful APIs<br>
    &#127780;Deploy any application and access it from Salesforce<br>
    &#127780;Get started with 2000+ apps on the AppExchange<br>
</p>
    </p1></div>
    <center>  <div><p1 style="font-size: 160%;">The different services offered by salesforce are as follows:</p1></div></center>
    <div><p1 style="font-size: 160%;">Mobile Services:</p1></div>
  
      <p style="font-size: 160%;border-style: solid;"> &#128241;Mobile services give you everything you need to grow
        mobile apps faster. With this service you extend the
        power of Salesforce to all devices. Developers and analysts
        rapidly design interactive mobile applications to connect your
        customers, your employees, your partners and your products, at any time, wherever they
        are on all types of terminals.
        
        <br>
        &#128241;User Identity allows developers and analysts to design
        quickly interactive mobile applications to connect your customers, your
        employees, your partners and your products, at any time, wherever they are and on
        all types of terminals<br>
        &#128241;Chatter allows you to add "social media" type information feeds to
        each of your applications to interact with your customers and connect your
        employees. With chat at the heart of the Salesforce Platform, not only will all of your
        users are connected, but also each business object, each page and each
        application.
        
        <br>
        &#128241;Develop in a few clicks makes it possible to design applications by a simple
        drag and drop, it allows to create database schemas, automate
        workflows, business processes, etc.
        
        <br>
        &#128241;Multi-language development offers a wide range of software
        unlimited access programming.
    </p> 


    
    <center>  <h1 style="color: blue;text-decoration: underline;">Amazon and Cloud Computing

        :    </h1></center> 
        <center> <div><p1 style="text-decoration: solid;font-size: 160%;">Amazone Web services offers a flexible cloud computing platform,
            scalable and low cost for businesses of all sizes around the world.
            AWS provides access to a trusted, secure technology platform. The benefits of
            use of this platform are as follows:
            
            </center><br>
            <p style="font-size: 160%;border-style: solid;">  &#128483;pay-as-you-go: Beyond the AWS free usage tier, you pay
                only for used resources; there is no long-term contract or
                initial commitment.
                
                <br>
                &#128483;scalable: use of resources according to need.<br>
                &#128483;flexible: increase in IT equipment without resorting to purchasing
                infrastructure.
                
                
                
                <br>
                &#128483;ease of use

                .
                
                <br>
              
            </p> 
            <center>  <div><p1 style="font-size: 160%;">The different services offered by the amazon platform are as follows:

            </p1></div></center>
            
      <p style="font-size: 160%;border-style: solid;">  &#128483;Amazon Elastic Compute Cloud (EC2) provides scalable virtual servers
        using Xen.
        
        <br>
        &#128483;Amazon Elastic Block Store (EBS) provides a level of persistent blocks for
        EC2 storage volumes.<br>
        &#128483;Amazon Simple Storage Service (S3) provides web services-based storage

        .
        
        <br>
        &#128483;Amazon Glacier provides web services-based storage. This service is less
        expensive than Amazon S3 and is for the data being accessed
        rarely.
        
        
        
        <br>
        &#128483;Multi-language development offers a wide range of software
        unlimited access programming.
        <br>
        &#128483;Amazon Simple Queue Service (SQZ), provides a hosted message queue for
        web apps.<br>
        &#128483;Amazon Simple Email Service (SES), bulk mailing and transactional service
        of emails
        .
        
        <br>
        &#128483;Amazon Mechanical Turk (MTURK), managing small distributed work units
        to many.
        
        
        
        <br>
        &#128483;Alexa Web Services, provides traffic data, thumbnails and other
        information about websites.
    </p> 

        
</div>

</header>  
<div> <center><button><a href="/next10" style="color: white;" <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>