<link rel="stylesheet" href="/page30.css" />

<header>
    <div class="container">
      <div class="slika">
        <div class="bg-illustration">
        <img src="in1.jpg" alt="logo">
    </div>
   
   <div>
  <center>  <h1 style="color: blue;text-decoration: underline;">CONCLUSION

:    </h1></center>
   </div> 
   
  
    </p1></div>
   
      <p style="font-size: 160%;"> 
        Cloud computing will affect large part of computer industry including Software companies, Internet service providers. Cloud computing makes it very easy for companies to provide their products to end-user without worrying about hardware configurations and other requirements of servers. The cloud computing and virtualization are distinguished by the fact that all of the control plane activities that center around creation, management, and maintenance of the virtual environment, are outsourced to an automated layer that is called as an API and other management servers for the cloud management.

In simple words, the virtualization is a part of cloud computing where manual management is done for interacting with a hypervisor. On the other hand, in cloud computing, the activities are self-managing where an API (Application Program Interface) is used so that the users can self-consume the cloud service.
        
    </p> 
     
</div>

</header>  
<div> <center><button><a href="/next31" style="color: white;" <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>