<link rel="stylesheet" href="/page12.css" />

<!doctype html>
<html>
    <meta charset ="utf-8">
    <meta name ="viewport" content="width=device-width, intial-scale=1">
    <title>Custom Coding</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
     
     
         
     </style>
    
    </head>
    <body>
        <header>
           
            </header>
            
            <section class="hero">
            <div class="background-image" style="background-image: url(https://wallpaper-house.com/data/out/7/wallpaper2you_139824.jpg)"></div>
                <div class="hero-content-area">
                <h1 style="text-decoration: underline;">Definition of virtualization:</h1>
                    <h3>Virtualization turns hardware into software. It allows to keep only the
                        firmwares of the different cards of a server and to use them within a server
                        virtual. We therefore do not call virtualization all the material techniques and/or
                        software that allows several systems to operate on a single machine
                        operating systems and/or several applications separately from each other, as if they
                        ran on separate physical machines. To this must be added the
                        network and application virtualization technologies
                        
                        </h3>
                        <div>
                        <img class="mr-1 module-image" src="n11.png" />
                    </div>
    
                </div>
            </div>
        </div>
            
    </section>
                <div> <center><button><a href="/next13" style="color: white;" <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>
         
        
        
        
        
        
        
        
        
        
      
    </body>
</html>

