<link rel="stylesheet" href="/page7.css" />

<section id="intro" class="secIntro">
  <center ><h1 style="font-size: 300%; text-decoration: underline;color:  rgb(27, 27, 70);" >What is Green IT?</h1></center>
	<p style="font-size: 180%;color: rgb(27, 27, 70); " >
        Green IT, also called "green computing" or "eco-Tic" can be defined as
        two ways:<br>
        &#127780; Set of technologies that allow companies to reduce their
        carbon footprints, reduce their greenhouse gas emissions, their
        energy consumption in short, everything that increases efficiency
        energy
        .
        <br>
       
        &#127780;Set of principles and policies put in place by companies to
        promote sustainable development and have an eco-responsible attitude.<br>
    </p> 
</section>  
        <div> <center><button><a href="/next18" style="color: white;" <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div> 


