<link rel="stylesheet" href="/page12.css" />

<!doctype html>
<html>
    <meta charset ="utf-8">
    <meta name ="viewport" content="width=device-width, intial-scale=1">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
     
     
         
     </style>
    
    </head>
    <body>
        <header>
           
            </header>
            
            <section class="hero">
            <div class="background-image" style="background-image: url(https://wallpaper-house.com/data/out/7/wallpaper2you_139824.jpg)"></div>
                <div class="hero-content-area">
                <h1 style="text-decoration: underline;color: rgb(255, 255, 255);">the different architectures of operating system virtualization
                    :</h1>
                    <h3>Depending on the implementation technologies, hardware virtualization can be
                        classified into four categories: full virtualization and virtualization based on
                        the host.
                        
                        
                        </h3>
                        <div>
                      
                    </div>
                    <h1 style="text-decoration: underline;color: rgb(255, 255, 255);">1-OS-level virtualization
                        :</h1>
                        <h3>The virtualization of operating systems consists of creating servers
                            dematerialized at the kernel operating system layer. With this
                            virtualization method of isolated partitions, also called environment
                            virtual are created on a single physical server and on the same system instance
                            for rationalization of hardware and software resources, etc.
                            
                            
                            
                            
                            </h3>
    
                </div>
                <img class="mr-1 module-image" src="n12.png" />
            </div>
        </div>
        <h1 style="text-decoration: underline;color: rgb(255, 255, 255);">Features 

            :</h1>
            <h3>
*One system, one kernel<br>
*Siled user environment<br>
*Allocation of resources between different environments
            </h3>

            <h1 style="text-decoration: underline;color: rgb(251, 251, 251);">Total Virtualization

                :</h1>
                <h3>
                    Total or complete virtualization, allows you to run the guest operating system from
                    natively without modification. With this technique, virtualization has no
                    impact on the execution of the kernel of the virtualized system. On the other hand, virtualization
                    Complete sacrifices performance at the cost of compatibility. Indeed, it is more
                    hard to get good performance when the guest system is not participating in the
                    Virtualization process and must go through one or more layers of emulation before
                    access hardware resources.
                    
                    
                </h3>
            </div>
            <img class="mr-1 module-image" src="n13.png" />
        </div>
        <h1 style="text-decoration: underline;color: rgb(255, 255, 255);">Features 

            :</h1>
            <h3>
*Emulation of a physical machine
Complete<br>
*Emulation of specific architectures<br>
*guest operating systems think they are on a physical machine<br>
*forte dégradation des perfs
            </h3>
    </section>
                <div> <center><button><a href="/next14" style="color: white;"  <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>
         
        
        
        
        
        
        
        
        
        
      
    </body>
</html>

