<link rel="stylesheet" href="/page8.css" />
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<center> <h1 style="font-size:140% ;text-decoration: underline;"> The five main characteristics and benefits of the Cloud:</h1></center>

  <script src="https://kit.fontawesome.com/e391ce7786.js" crossorigin="anonymous"></script>
</head>
<body>
    <p style="font-size:140% ">According to the NIST the Cloud offers several services of essential characteristics
      in particular the elasticity of the resources offered by cloud services, their simplicity
      access via the network, the pooling of resources, the increased agility of IS in the Cloud as well as
      that usage-based billing for cloud services:
      
</p>
  <section>
    <div class="card">
   <center>  <img src="n1.jpg" alt="portrait1"></center> 
      <div class="content">
        <h2 style="color: blue ; text-decoration: underline;">Resource Elasticity:</h2>
        
        <center>  <p1>In the cloud, new capacities can be automatically made available
          users in the event of an increase in demand. Conversely, they can be
          quickly put to sleep when no longer needed.
          This elasticity of Cloud services creates for the end user the illusion of a capacity
          infinite which can be put into service at any time.
          For corporate clients, this elasticity characteristic makes it possible, for example, to
          cope with peaks of activity that the internal infrastructure could not have absorbed, but also
          to consider new applications, for example supercomputing applications
          requiring several hundred machines for only a few hours,
          applications that the cost of an internal infrastructure would have made impossible without the
          Cloud. According to Bernard Ourghanlian, Microsoft's technical and security director, at
          About the Cloud “Virtually, the power is infinite”
          
          
        </p1></center>
       
      </div>
   
    </div>

    <div class="card">
    <center> <img src="n2.jpg" alt="portrait2"></center> 
      <div class="content">
        <h2 style="color: blue ; text-decoration: underline;">Simple access via the network:</h2>
       
        <center>    <p1>Cloud-type services are accessible through the network, whether it is the
          company LAN network for internal Cloud, internal access, Internet access
          or an IP leased line (or VPN access) for an external Cloud. This access takes place
          by means of standard mechanisms and protocols which notably allow the use
          Cloud services from multiple types of terminals.
            . 
        </p1></center> 
        
      </div>
    </div>

    <div class="card">
     <center><img src="n3.jpg" alt="portrait3"></center> 
      <div class="content">
        <h2 style="color: blue ; text-decoration: underline;">Controlled costs thanks to the pooling of resources and the effects
          of scales:</h2>
      
        <center>  <p1>Cloud resources are pooled and pooled to serve multiple
          users (several departments or divisions as part of an internal Cloud at
          company or several companies in the case of a public cloud service).
          Pooling can take place at multiple levels, whether in terms of resources
          physical (servers, storage, network, application server ......)
          Thanks to this pooling of resources, they are reallocated
          dynamic according to demand and SLAs (service level agreement) without
          the user does not have to perform any operation whatsoever. Each user is thus
          assured of the achievement of the performance objectives defined in the context of his contract
          
          

        </p1></center>
        
      </div>
    </div>
  </section>
    <section>
      <div class="card">
     <center>  <img src="n4.jpg" alt="portrait1"></center> 
        <div class="content">
          <h2 style="color: blue ; text-decoration: underline;">A more agile IS:</h2>
          
          <center>  <p1>In the cloud, the end user of the service can quickly provision the
            resources it needs (servers, networks, storage, applications, etc.) and dispose of it without
            having to go through long and complex manual configuration steps. Those
            "rapid provisioning" and "self-service" capabilities enable the IS to respond
            more quickly to the needs of the trades, to the requests for changes, as well as to the requirements
            increasing time-to-market. In some consumption models, this agility is
            taken to the extreme, particularly in SaaS or PaaS type models or the company
            frees itself from a large number of constraints in setting up its applications.
            
            
          </p1></center>
          
        </div>
     
      </div>
  
      <div class="card">
      <center> <img src="n5.jpg" alt="portrait2"></center> 
        <div class="content">
          <h2 style="color: blue ; text-decoration: underline;">Usage-based billing:</h2>
         
          <center>    <p1>With the Cloud, a new usage-based billing method is becoming widespread, which can be summarized
            simply: you only pay for what you actually consume. In the Cloud
            of infrastructure, we thus pay for the number of processor cores consumed, the quantity
            of memory used, the number of input/output operations performed or the quantity
            of stored data. In a SaaS mode, you pay by the number of users and according to
            their use of resources.
            
            
          </p1></center> 
         
        </div>
      </div>
  
     
      </div>
    </section>
    <div> <center><button><a href="/next9" style="color: white;" <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>
 
 
</body>
</html>
