<link rel="stylesheet" href="/page8.css" />
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div>
    <img src="a1.jpg"  >
    
    </div>
<center> <h1 style="font-size:140% ;text-decoration: underline;"> DMTF (Distributed Management Task Force):</h1></center>

  <script src="https://kit.fontawesome.com/e391ce7786.js" crossorigin="anonymous"></script>
</head>
<body>
    <p style="font-size:140% ">The DMTF (Distributed Management Task Force) was founded in 1992, it is a
        organization that develops and maintains standards for the administration of
        computer systems of companies or connected to the Internet. These standards allow
        to develop system components for the administration of infrastructures of such
        so that they are platform-independent and technology-neutral
        employee. They provide for the administration of the systems an interoperability between
        heterogeneous computer products, from different manufacturers, without
        need for adaptation and additional costs.<br>
        In 2005, the DMTF had over 3,500 participants from over 200 organizations
and different companies such as (AMD, Cisco, Dell, EMC, Futjitsu, IBM, Symantec....etc).


</p>

    <div> <center><button><a href="/next23" style="color: white;"  <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>
 
 
</body>