<link rel="stylesheet" href="/page2.css" />
<!Doctype html>
<head>
  <title>Brycen Prout e-portfolio</title>
  <!--Required UTF-8-->
  <meta charset="UTF-8">
  <!--other examples of meta-->
  <meta name="author" content="Brycen Prout">
  <meta name="description" content="A short e-portfolio">
  <link rel="stylesheet" href="index2.css">
  
  <script>
    
  </script>
</head>

 
    <h1 style="text-align:center; font-size:250%; color:white; text-decoration: underline;">HISTORY OF CLOUD COMPUTING :</h1>
  </header>
  
  <br>
  <!--course name and description-->
  <h1 style="align:center;color:white;font-size:130%;">The Internet bubble reached its peak on March 10, 2000, then gradually burst
    over the following weeks, with the massive sale of shares by big names
    leading technology companies, such as Dell and Cisco.
    To continue to survive, companies must rethink or adjust their model
    commercial and their offers intended for the customers. Among the most recent, many
    are those who decide to offer Internet-based services, rather than
    use it as a means of ordering or communicating with customers.
    The late 1990s and early 2000s represent a period
    conducive to creating an online business or investing in such an activity. With the
    development of multi-tenant architectures, the ubiquity of broadband and the
    implementation of universal interoperability standards between software, this is the
    ideal framework to allow Cloud Computing to take off. Salesforce.com is launched
    in 1999. It is the first site to offer business applications from a
    simple standard website, accessible via a web browser: this is called
    cloud computing today.
    Amazon.com launched Amazon Web Services in 2002. This new service allows
    users to store data and takes advantage of the skills of a very large
    number of people for very small tasks (for example, on
    Amazon Mechanical Turk). Facebook was founded in 2004 and revolutionized the way
    users communicate and store their own data (photos and videos),
    by unwittingly making the Cloud a personal service.
    In 2006, Amazon developed its cloud services. The first to appear is
    Elastic Compute Cloud (EC2), which allows users to access computers
    and run their own apps on it, all in the cloud. The second serve
    launched is Simple Storage Service (S3). It allows to introduce the payment model to
    use with customers and the industry in general, a model that represents
    now a common practice.
    Salesforce.com then launched Force.com in 2007. This platform as
    service (PaaS) allows developers to design, store and run all
    the applications and all the websites necessary for their activities on the Cloud.
    6
    Google Apps arrives in 2009 and allows its users to create and store
    documents entirely on the Cloud.
    More recently, cloud computing companies have sought to increase
    further integration of their products. In 2010, salesforce.com launched its database
    Cloud data with Database.com for developers, marking the
    development of Cloud Computing services that can be used on any
    terminal, executable on any platform and written in any
    programming language.
    
    
  <hr>
  <br>
  

  <div> <center><button><a href="/next2" style="color: white;" <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>
</body>