<link rel="stylesheet" href="/page27.css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<center><h1>definition of the main cloud providers:</h1></center>
<section class="hero-section">
  <div class="card-grid">
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(c7.jpg)"></div>
      <div class="card__content">
        
     <center>  <h3 class="card__heading" style="font-size: 200%;text-decoration: underline;">AWS Amazon</h3></center> 
     <p style="color: white;font-size: 140%;">AWS is a comprehensive and scalable cloud computing platform provided by Amazon. It offers a wide range of services including computing, storage, database, analytics, machine learning, security, and more.</p>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(c7.jpg)"></div>
      <div class="card__content">
      
       <center> <h3 class="card__heading" style="font-size: 200%;text-decoration: underline;">microsoft Azure</h3></center>
       <p style="color: white;font-size: 140%;">Azure is a cloud computing platform and infrastructure created by Microsoft to build, deploy, and manage applications and services. It offers a range of services including virtual machines, web and mobile apps, data storage, and more.</p>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(c7.jpg)"></div>
      <div class="card__content">
        
        <center><h3 class="card__heading" style="font-size: 200%;text-decoration: underline;">IBM cloud</h3></center>
        <p style="color: white;font-size: 140%;">IBM Cloud is a cloud computing platform and infrastructure provided by IBM. It offers a range of services including virtual servers, storage, networking, analytics, and more.

        </p>
      </div>
    </li>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(c7.jpg)"></div>
      <div class="card__content">
        
      <center>  <h3 class="card__heading" style="font-size: 200%;text-decoration: underline;"> GoogleCloud</h3></center>
      <p style="color: rgb(255, 255, 255);font-size: 140%;">Google Cloud is a suite of cloud computing services provided by Google, including computing, data storage, networking, and machine learning. It also offers a range of tools and services for the development and management of applications

      </p>
      </div>
    </a>
    <div> <center><button><a href="/next28" style="color: white;"  <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>
  <div>
  
</section>