<link rel="stylesheet" href="/page28.css" />
<table id=jaeger-specs>
    <caption style="color: rgb(35, 92, 205);font-size: 300%;text-decoration: underline;">comparative table of the different characteristics of the main cloud hosts:</caption>
    <thead>
    <tr>
    <th></th>
    <th scope=col style="font-size: 240%;">aws amazon
    <th scope=col style="font-size: 240%;">microsoft Azure
    <th scope=col style="font-size: 240%;">GoogleCloud 
    <th scope=col style="font-size: 240%;">IBM cloud 
    </tr>
    </thead>
    <tbody>
    <tr>
    <th scope=row style="font-size: 240%;">Company

 
    <td>AWS Inc.
    <td>Microsoft
    <td>Google
    <td> IBM 
        
    </tr>
    <tr>
    <th scope=row>Create in
    <td>2006
    <td>2010
    <td>2008
        <td>2011
    </tr>
    <tr>
    <th scope=row>Annual income


    <td>$33 milliards
    <td>$35 milliards
    <td>$8 milliards
        <td>19,16 milliards de dollars
    </tr>
    <tr>
    <th scope=row>Price from


    <td>175.18€/month
        <td>191.40€/month
    <td>139.01€/month
    <td>$200/month
    </tr>
    <tr>
    <th scope=row>  &#128230;Services
    <td>Compute, Storage, Database, Analytics, Networking, Machine Learning & AI, Mobile, Developer Tools, IoT, Security, Enterprise Applications, Blockchain.


    <td>Compute, storage, mobile, data management, messaging, multimedia services, CDN, machine learning and AI, development tools, security, blockchain, functions, IoT.
        <td>Compute, storage, databases, networking, big data, cloud AI, management tools, identity and security, IoT, API platform.


    <td>Compute, network, storage, cloud packs, management, security, database, analytics, AI, IoT, mobile, developer tools, blockchain, integration, migration, private cloud and VMware.


    </tr>
    <tr>
        <th scope=row>Geographical Regions
    
    
        <td>25
            <td>54
        <td>21
        <td>5
        </tr>
        <tr>
            <th scope=row>Availability Zones
        
            <td>78
                <td>140
            <td>61
            <td>24
            </tr>
            <tr>
                <th scope=row>Compliance certificates
            
            
                <td>46
                    <td>90
                <td>--
                <td>+10
                </tr>
                <tr>
                    <th scope=row>Market share 
                
                    <td>40%
                        <td>30%
                    <td>19%
                    <td>5%
                    </tr>
                    <tr>
                      
                            <th scope=row>&#9989;advantages
                        
                        
                            <td>+ security<br>
                                +Flexibility<br>
                                +Profitability<br>
                                +Reliability<br>
                                +Scalability and high performance<br>
                                +Agility (on AWS you only pay for what you use.)<br>
                                +Integration with existing systems<br>
                                +This is the best free account to test and learn<br>
                                <td>+Perfect for small businesses and established businesses<br>
                                    +strong security<br>
                                    +good scalability options<br>
                                    + allows to use any framework, language or tool<br>
                                    + create a hybrid infrastructure<br>
                                    +It is a cost-effective solution for an IT budget<br>
                            <td>+ security<br>
                              
                                +Attractive prices and constant updating of services<br>
                               
                                +Increased performance and better flexibility<br>
                              
                                +The provision of a private network<br>
                               
                                +the scalable aspect of its infrastructure<br>
                                
                                
                                
                            <td>+Flexibility<br>
                                +Efficiency<br>
                                +Cost reduction<br>
                                +Time saving<br>
                                If you use IBM Cloud Private, your IT department doesn't have to spend time on activities like disk space allocation or software configuration<br>
                                + security<br>
                                
                                
                            </tr>
                            <tr>
                      
                                <th scope=row> &#10062;desadvantages
                            
                            
                                <td>-Requires advanced technical expertise for implementation. <br>

                                    -Lack of strong hybrid cloud support. <br>
                                    
                                    -A vast catalog of offers can be overwhelming to navigate.
                                    
                                    <br>
                                    <td>-Poor support for large scale implementations.<br>

                                        -Advanced technical expertise is required to implement Azure reliably and securely.<br>
                                        
                                       - Historical infrastructure reliability issues<br>
                                <td>-Rigid in contract negotiations.<br>

                                    -Small ecosystem of partners.<br>
                                    
                                    -Limited range of services for large companies.<br>
                                    
                                    
                                    
                                <td>data security.<br>

                                    the price.<br>
                                    
                                    technical experts
                                    for this job.<br>
                                    
                                    
                                </tr>
    </tbody>
    </table>
    <div> <center><button><a href="/next29" style="color: white;"  <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>