<link rel="stylesheet" href="/page5.css" />
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<center> <h1 style="font-size:140% ;text-decoration: underline;"> the various Cloud Computing services :</h1></center>

  <script src="https://kit.fontawesome.com/e391ce7786.js" crossorigin="anonymous"></script>
</head>
<body>
    <p style="font-size:140% ">Three major models of Cloud use are currently emerging, all of which have
        different characteristics and do not have the same level of maturity:
       <p style="font-size:140% "> &#127780; SaaS Software as a Services<br></p>
       <p style="font-size:140% "> &#127780; PaaS Plateforme as a Services<br></p>
       <p style="font-size:140% "> &#127780; IaaS Infrastructure as a services<br></p>

</p>
  <section>
    <div class="card">
   <center>  <img src="paas1.png" alt="portrait1"></center> 
      <div class="content">
        <h2 style="color: blue ; text-decoration: underline;">PaaS Plateforme as a Services</h2>
        
        <center>  <p1>The PaaS, or Platform-as-a-Service, model moves a step further away from fully on-premises infrastructure management. The provider hosts the hardware and software on its own infrastructure and makes a platform available to the user via the Internet, in the form of an integrated solution, a solution stack or a service
        </p1></center>
        <h2 style="color: blue ; text-decoration: underline;">example:</h2>
        <p1>
            
            &#127783;Google App Engine<br>
            &#127783;OpenShift<br>
            &#127783;Heroku<br>
            &#127783;Force.com<br>
            &#127783;Windows Azure<br>
            &#127783;AWS Elastic Beanstalk<br>
            &#127783;Apache Stratos<br>
            &#127783;Magento Commerce<br>
            &#127783;AWS Lamda<br>
           

        </p1>
      </div>
   
    </div>

    <div class="card">
    <center> <img src="saas1.png" alt="portrait2"></center> 
      <div class="content">
        <h2 style="color: blue ; text-decoration: underline;">SaaS Software as a Services</h2>
       
        <center>    <p1>SaaS (Software-as-a-Service), or cloud application services, is the most comprehensive form of cloud computing services. It provides a complete vendor-managed application through a web browser

            . 
        </p1></center> 
        <h2 style="color: blue ; text-decoration: underline;">example:</h2>
        <p1>
            &#127783;Salesforce<br>
            &#127783;Cisco WebEx<br>
            &#127783;Dropbox<br>
            &#127783;ZenDesk<br>
            &#127783;MailChimp<br>
            &#127783;Slack<br>
            &#127783;HubSpot<br>
            &#127783;DocuSign<br>
            &#127783;Google Apps<br>
            &#127783;Microsoft Office 365<br>

        </p1>
      </div>
    </div>

    <div class="card">
     <center><img src="iaas1.png" alt="portrait3"></center> 
      <div class="content">
        <h2 style="color: blue ; text-decoration: underline;">IaaS Infrastructure as a services</h2>
      
        <center>  <p1>IaaS, or Infrastructure-as-a-Service, is the closest solution to on-premises infrastructure. Infrastructure services, such as storage and virtualization, are provided by a third party when you need them through a cloud on the Internet. These services are billed according to your usage.


        </p1></center>
        <h2 style="color: blue ; text-decoration: underline;">example:</h2>
        <p1>
            &#127783; Amazon Web Services (AWS)<br>
            &#127783; Google Compute Engine (GCE)<br>
            &#127783; IBM Cloud<br>
            &#127783; Microsoft Azure<br>
            &#127783; Rackspace<br>
            &#127783; Linode<br>
            &#127783; Cisco Metacloud<br>
            &#127783; Digital Ocean<br>
            &#127783; Oracle Cloud<br>
        </p1>
      </div>
    </div>
  </section>
  <div> <center><button><a href="/next5" style="color: white;" <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>
</body>
</html>