<link rel="stylesheet" href="/page6.css" />
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<header>
		<div id="avatar" >
			<img src="cv1.png" height="auto;" width="40%" alt="My avatar" >
		</div>

		<div id="name">
			<center><h1 style="font-size: 190%;text-decoration: underline;">The different Cloud Computing solutions:</h1></center>
			
		</div>
	</header>

	<section id="intro">
		<h2>put-in!</h2>
		<p>There are 4 main types of cloud that an organization can use. Before, it was quite easy to tell the difference between the types of cloud present on the market, referring to the location and the provider. Today, the situation is more complex. Explanations below.</p>
	</section>

	<section id="second">
		<article id="first">
			<h3 style="text-decoration: underline;">The Private Cloud :  </h3>
			<center><p >The Private Cloud is a way of consuming IT (IaaS, PaaS, SaaS,
                ...) based on resources (server, storage, network, software licenses, etc.)
                exclusively available to a company. Resources can be geographically
                located within the perimeter of the company (we will speak of an internal private Cloud) or at a
                integrator/service provider (we will speak of a managed or hosted private cloud).
The operation of the private cloud can only be carried out by IT teams
of the client (internal private cloud), or by an external service provider (internal private cloud,
private host). The services available are via a catalog of services exposed in a
portal, their commissioning is automated, and may be subject to invoicing linked to
the consumption.


                </p></center>
			
			

			
		</article>

		<article id="middle">
			<h3 style="text-decoration: underline;">the public cloud :</h3>
			
				<center><p> The public cloud is a flexible and open structure, managed by a third-party provider.
                    Multiple users (individuals or companies) can access it via the Internet. With the
                    Public cloud, multiple entities share the same IT resources
                    (provided by the supplier).
                    
                    </p></center>
			
		</article>

		<article id="last">
			<h3 style="text-decoration: underline;">the hybrid cloud</h3>
			
			<center>	<p>The hybrid cloud is a mixed structure that allows resources to be combined
                    internal of the private Cloud to those external of the public Cloud. A company that uses a
                    Hybrid cloud can, for example, use the public cloud from time to time, when
                    peaks of activity and the rest of the time be satisfied with the resources available internally.</p></center>
			
		</article>
        


	</section>

   
</body>

</html>

<div> <center><button><a href="/next6" style="color: white;" <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>
  