<link rel="stylesheet" href="/page9.css" />
<header>
    <div class="container">
      <div class="slika">
        <div class="bg-illustration">
        <img src="in1.jpg" alt="logo">
    </div>
    <center>  <h1 style="color: rgb(0, 0, 0);text-decoration: underline;">The different fields of application of virtualization:

        :    </h1></center>
   <div>
  <center>  <h1 style="color: blue;text-decoration: underline;">Server virtualization

:    </h1></center>
   </div> 
   <center> <div><p1 style="text-decoration: solid;font-size: 160%;">Server virtualization relies on a thin software layer, or hypervisor to
    create "virtual machines", i.e. isolated software containers that
    include an operating system and applications. Considered a guest machine, a virtual machine is totally independent. It is possible of this
    fact of running several virtual machines on the same “host” physical machine.</center><br>
  
    </p1></div>
    <center>  <div> <h1 style="color: blue;text-decoration: underline;">Storage virtualization:</h1></div></center>
   
  
      <p style="font-size: 160%;border-style: solid;"> Storage virtualization can take different forms. It also applies
        for blocks and files than for disks or tapes. Physical storage is
        hidden and comes in the form of logical volumes, or even different media.
        Thus, a tape system can become a disk. Storage virtualization
        allows devices to be pooled and provisioned
        for users via logical drives. In advanced solutions, bays
        can be managed as a single logical unit and the capacity can be
        provisioned from the same logical pool.
        
        
        
      </p>

    
    <center>  <h1 style="color: blue;text-decoration: underline;">Application virtualization:

        :    </h1></center> 
        <center> <div><p1 style="text-decoration: solid;font-size: 160%;">Application virtualization consists of virtualizing applications but not all of them.
            the operating system; the user views and uses an image of the
            applications actually executed on a remote server, the operating system itself,
            still runs on the client workstation.
            variants of virtualization are application virtualization, OS streaming.
            
            
            
            </center><br>
           
                
                
               
              
            </p> 
            <center>  <div> <h1 style="color: blue;text-decoration: underline;">Workstation virtualization:

            </h1></div></center>
            
      <p style="font-size: 160%;border-style: solid;">Desktop virtualization is the logical evolution of desktop virtualization.
        servers. Since the servers are powerful, they are able to run
        isolated environments (Virtual Machines) from each other and that it is very easy
        create them quickly, why not deploy the workstations on the servers and
        visualize what is happening in a virtual machine thanks to simple lightweight terminals?
        The advantages are:
        
        
        
        <br>
        &#128483;Nothing is done locally. The load is distributed over the servers (power
        insured).<br>
        &#128483;Workstations are no longer dependent on hardware (no more repairs,
        PC changes, hardware updates etc.).
        
        <br>
        &#128483;The risk of information leakage is better controlled (no data is
        stored locally).
        
        
        
        <br>
        &#128483;It is possible to avoid vandalism or theft (the terminal only
        connect).On its own, it is useless and not very expensive.
        
        
        <br>
        &#128483;Power consumption is reduced.

        <br>
        &#128483;There is no need to buy or upgrade the hardware
        .
        
      
        
    </p> 

        
</div>

</header>  
<div> <center><button><a href="/next17" style="color: white;"  <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>