<link rel="stylesheet" href="/page29.css" />
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>how to choose the right cloud for me</title>
</head>

<body>
  <p id="header">how to choose the right cloud for me</p>
  <div class="container">
    <div class="column">
      <div class="small-pic">
        <img src="c10.png" alt="Ginger cat being cute">
      </div>
      <h1 style="color: blue;text-decoration: underline;">AWS</h1>
      <p>Amazon Web Services (AWS) is a good choice if:

        -You are looking for a more global reach , 
       You want a stable and reliable service from a cloud platform with a long track record,
        You need flexibility and a wider range of services,
        You are a big company.</p>
    </div>

    <div class="column">
      <div class="small-pic">
        <img src="c11.png" alt="Cat on couch">
      </div>
      <h1 style="color: blue;text-decoration: underline;">Azure microsoft</h1>
      <p>  Microsoft Azure is a good choice if:

        -You are migrating to the cloud for the first time,
        
        Most of your enterprise applications and platforms are based on Microsoft,
        
        You are looking for a hybrid solution or 
        
         You are a developer.
        
        </p>
    </div>

    <div class="column">
      <div class="small-pic">
        <img src="c12.jpg" alt="Sleepy kitty">
      </div>
      <h1 style="color: blue;text-decoration: underline;">GoogleCloud</h1>
      <p>Google Cloud Platform (GCP) is a good choice if:

        -you are looking for a complete container-based model,
        Your company is already well ahead in the digital migration and wants to become leaner and more profitable,
         
      
        You are looking for a green technology solution.</p>
    </div>
    <div class="column">
        <div class="small-pic">
          <img src="c13.png" alt="Sleepy kitty">
        </div>
        <h1 style="color: blue;text-decoration: underline;">IBM Cloud</h1>
        <p> IBM is a good choice if:

            -you need a price is cheaper,
            
            you are a large community of legacy applications,
            
            you are a dynamic group of leaders.</p>
      </div>
  </div>

</body>
<div> <center><button><a href="/next30" style="color: white;"  <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>

</html>