<link rel="stylesheet" href="/page1.css" />
<header>
    <div class="container">
      <div class="slika">
        <div class="bg-illustration">
        <img src="in1.jpg" alt="logo">
    </div>
  </header>
  <div id="home">
    <center>
        <div class="A">
        <h1 style="font-size:140% ;text-decoration: underline;">PREFACE:</h1>
   

    <h6
    style="font-size:120% "> Today IS IT departments are constantly looking for new technologies to make their computer<br> systems efficient,
        economical, and ecological. Studies have shown that most servers in our machine<br>  rooms only use 10% of the capacity of their processors; which represented
        a big loss in terms of financial, human and storage resources. to this problem big companies like Amazone, Microsoft etc... have decided to
        provide businesses and individuals with their infrastructure computers which gave birth to Cloud Computing.<br> 
        However, many companies with reduced capital are struggling to get into the "dance" and use outdated technologies.<br>  In this article we will introduce you
        the fundamentals of Cloud Computing, its advantages, its disadvantages.
    </center>
</div>
</h6>
<div> <button><a href="/Next" style="color: white;" <span>&rarr;</span>Next &#8250;&#8250;</button> </div>
  </div>
  