<link rel="stylesheet" href="/page4.css" />
<div class="wrapper"> 
    <header class="site-header">
       
    </header>
  
    <main>
      <div class="home-page">
        <div class="block">
          <h1 style="text-decoration: underline;">what is the cloud computing ? </h1>
          <p class="intro">The Cloud stands for “cloud” and Computing for “computing”, so Cloud Computing is
            cloud computing for a literal English French translation. Many
            definitions of Cloud Computing exist, however, we will retain that of the NIST
            (National Institute of Standards and Technology), which defines Cloud Computing as
            being access via a telecommunications network, on demand and on a self-service basis, to
            configurable shared computing resources.
            Cloud Computing can also be defined as a model allowing easy access
            and on demand via the network to a shared pool of configurable computing resources
            for example networks, servers, storage, applications and services which may be
            quickly made available to users, one of the key points of cloud services is
            that they can be provisioned quickly but also decommissioned
            quickly because most of the services are accessible without commitments.</p>
       
         
        </div>
        <div class="block">
          <img src="c1.png" alt="An illustration of me in profile">
         
        </div>
      
           
          
      </div>
    </main>
    <div> <center><button><a href="/next4"  style="color: white ;"<span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>
    
  </div>
  