<link rel="stylesheet" href="/page11.css" />
<header>
    <div class="container">
      <div class="slika">
        <div class="bg-illustration">
        <img src="in1.jpg" alt="logo">
    </div>
   
   <div>
  <center>  <h1 style="color: blue;text-decoration: underline;">Google App Engine

:    </h1></center>
   </div> 
   
  
    </p1></div>
    <center>  <div><p1 style="font-size: 160%;">Google App Engine is an application design and hosting platform
        Web based on Google servers. The different services are:</p1></div></center>
    
      <p style="font-size: 160%;border-style: solid;">  &#128276;Memcache: corresponds to cache above the database
        <br>
        &#128276;URL Fetch: allows you to make http/HTTPS requests on another server.<br>
        &#128276;Email: allows you to send and receive emails.
        
        <br>
        &#128276;Images: allows you to manipulate images (rotation, size, etc.).

        &#128276;Google Accounts: allows the use of Google accounts for identifications at the
        within an app.<br>
        &#128276;XMPP: Allows you to send and receive messages in XMPP format (used in
        Google Talk).
        
        <br>
        &#128276;Task Queues: Allows background tasks to be queued.

        
        &#128276;Cron: it is possible to schedule tasks to be executed on a recurring basis for,
        for example send a newsletter every month.<br>
        &#128276;Channel API: used to create communication between browser and server.
        
        <br>
        &#128276;Backends: allows you to create permanent instances of an application with a
        access to more memory (new in version 1.5.0).

        
    </p> 
     
</div>

</header>  
<div> <center><button><a href="/next12" style="color: white;"  <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>