<link rel="stylesheet" href="/page10.css" />
<header>
    <div class="container">
      <div class="slika">
        <div class="bg-illustration">
        <img src="in1.jpg" alt="logo">
    </div>
    <center>  <h1 style="color: rgb(0, 0, 0);text-decoration: underline;">Windows Azure platform/Manjrasoft Aneka platform.

        :    </h1></center>
   <div>
  <center>  <h1 style="color: blue;text-decoration: underline;">Windows Azure platform

:    </h1></center>
   </div> 
   <center> <div><p1 style="text-decoration: solid;font-size: 160%;">Microsoft Azure is an open and flexible cloud platform that allows you to create,
    quickly deploy and manage applications, data and services (Workflow,
    storage and synchronization of data, message bus, contact etc....) through a
    global data center network administered by Microsoft.
    Microsoft's Azure platform matches cloud computing offerings from
    IAAS, PAAS, SAAS type.
    Also Azure offers a monthly SLA ensuring connectivity for at least
    99.95% of the time, and allows you to build and run highly
    available without having to worry about the infrastructure. It provides a bet
    automatic patching of the operating system and services, a balancing of
    built-in network load and hardware failure resilience. It supports
    a deployment model that allows you to upgrade your application without
    service cut.
    </center><br>
  
    </p1></div>
    <center>  <div><p1 style="font-size: 160%;">The different services offered by Microsoft Azure:</p1></div></center>
    
      <p style="font-size: 160%;border-style: solid;">  &#128276;Compute service that allows the creation of virtual machines, websites,
        mobile services, cloud computing services.
        
        <br>
        &#128276;Data service that allows for data storage, creates databases
        SQL data, HDInsight, cache, backup, site recovery.<br>
        &#128276;Application services that provides media services, bus, data hub
        notification, scheduler, Biztalk services, visual studio online, Active Directory,
        Multi-factor authentication, Automation, CDN, API management, RemoteAPP
from Azure.
        
        <br>
        &#128276;Network services which are expressRoute, virtual network, traffic manager.


        
    </p> 


    
    <center>  <h1 style="color: blue;text-decoration: underline;">Manjrasoft Aneka platform

        :    </h1></center> 
        <center> <div><p1 style="text-decoration: solid;font-size: 160%;">Aneka is a distributed application development platform and framework on the
            Cloud. It provides developers with a rich set of APIs to leverage these resources
            in transparent ways and by expressing the business logic of the applications. The Cloud
            Computing based on Aneka is a collection of physical and virtual resources
            connected via a network, which are either the Internet or a private internet. One of the main
            characteristics of Aneka is the ability to provide different means to express
            distributed applications by offering different programming models; services
            runtimes are primarily concerned with providing the middleware with a
            implemented for these models. Additional services such as persistence and
            security are transversal to the whole stack of services that are hosted by the
            container. At the application level, a set of different components and tools are
            provided to: 1) simplify application development (SDK); 2) carrying.
            
            
        </div>

</header>  
<div> <center><button><a href="/next11"  style="color: white;"<span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>