<link rel="stylesheet" href="/quiz1.css" />
<form>
	<form action="/quiz" method="post"></form>
    <fieldset id="q1" style="background-color: #02050f; background-image: url(im1.jpg)">
        <legend>What is Cloud Computing?</legend>
        <div>
            <input type="radio" name="q1" id="q1a"> <label for="q1a">Cloud Computing means providing services like storage, servers, database, networking, etc</label>
            <input type="radio" name="q1" id="q1b"> <label for="q1b">Cloud Computing means storing data in a database</label>
            <input type="radio" name="q1" id="q1c"> <label for="q1c">Cloud Computing is a tool used to create an application</label>
            <input type="radio" name="q1" id="q1d"> <label for="q1d">all of this is correct </label>
            <section> 
               <%var Score=0;%>
                <div class="message correct">
                    <img src="raw.jpg">
                    <p>This is right! <% Score++%></p>
                    
                    <p>Cloud computing means providing services like storage, servers, database, networking, etc. over the internet without the user managing it directly. The data stored can be accessed by an authorized user anywhere anytime provided the user must have an internet connection and a device.</p>
                </div>
                <p class="message incorrect">This is incorrect!</p>
                <p class="message incorrect_a">
                    <img src="https://i.imgur.com/VFpGLPs.png">
                     <a href="http://онлайн-читать.рф/распе-мюнхаузен-первое-путешествие-на-луну/" target="_blank"></a>
                </p>
                <p class="message incorrect_c"></p>
                <p class="message incorrect_b"></p>
            </section>
            
            <p class="button-next"><a class="button" href="#q2">Next question</a></p>
        </div>
    </fieldset>
    
    <fieldset id="q2" style="background-image: url(im1.jpg)">
        <legend>Which of the following is not a type of cloud server?</legend>
        <div>
            <input type="radio" name="q2" id="q2a"> <label for="q2a">Public Cloud Servers</label>
            <input type="radio" name="q2" id="q2b"> <label for="q2b"> Private Cloud Servers</label>
            <input type="radio" name="q2" id="q2c"> <label for="q2c">hybrid Cloud Servers</label>
            <input type="radio" name="q2" id="q2d"> <label for="q2d">Merged Cloud Servers</label>
            <section> 
                <div class="message correct">
                    <img src="im.jpg">
                    <p>This is right!<% Score++%></p>
                    <p>In Public users share hardware, storage, networks. Private provide high security to the data stored through firewalls and internal hosting. In Dedicated , the server completely belongs to a particular organization or a company.</p>
                </div>
                <p class="message incorrect">This is incorrect!</p>
                <p class="message incorrect_a">
                    
                </p>
                <p class="message incorrect_c"></p>
            </section>
            <p class="button-next"><a class="button" href="#q3">Next question</a></p>
        </div>
    </fieldset>
    
        
    <fieldset id="q3" style="background-image: url(im1.jpg)">
        <legend>Which of the following is a type of cloud computing service?</legend>
        <div>
            <input type="radio" name="q3" id="q3a"> <label for="q3a">Service-as-a-Software (SaaS)</label>
            <input type="radio" name="q3" id="q3b"> <label for="q3b">Software-and-a-Server (SaaS)</label>
            <input type="radio" name="q3" id="q3c"> <label for="q3c">Software-as-a-Service (SaaS)</label>
            <input type="radio" name="q3" id="q3d"> <label for="q3d">Software-as-a-Server (SaaS)</label>
            <section> 
                <div class="message correct">
                    <img src="saas1.png">
                    <p>This is right!<% Score++%></p>
                    <p>Software as a Service, is the most widely used choice for enterprises. SaaS makes use of the internet to offer apps to consumers that are controlled by a third-party vendor.</p>
                </div>
                <p class="message incorrect">This is incorrect!</p>
                <p class="message incorrect_a">
                  
                </p>
                <p class="message incorrect_c">
                    
                </p>
                <p class="message incorrect_d">
                    
                </p>
                
            </section>
            <p class="button-next">
                <p class="button-next"><a class="button" href="#q4">Next question</a></p>
            </p>
        </div>
    </fieldset>
        
    <fieldset id="q4" style="background-image: url(im1.jpg)">
        <legend>Which of the following is an example of the cloud?</legend>
        <div>
            <input type="radio" name="q4" id="q4a"> <label for="q4a">Amazon Web Services (AWS)</label>
            <input type="radio" name="q4" id="q4b"> <label for="q4b">Dropbox</label>
            <input type="radio" name="q4" id="q4c"> <label for="q4c">Cisco WebEx</label>
            <input type="radio" name="q4" id="q4d"> <label for="q4d"> All of the above</label>
            <section> 
                <div class="message correct">
                    <img src="a2.jpg">
                    <p>This is right!<% Score++%></p>
                    <p>Amazon Web Services (AWS), Dropbox, and Cisco WebEx are examples of cloud.</p>
                </div>
                <p class="message incorrect">This is incorrect!</p>
                <p class="message incorrect_a">
                    
                </p>
            </section>
            <p class="button-next">
                <p class="button-next"><a class="button" href="#q5">Next question</a></p>
            </p>
        </div>
    </fieldset>
    <fieldset id="q5" style="background-image: url(im1.jpg)">
        <legend> Applications and services that run on a distributed network using virtualized resources is known as ___________?</legend>
        <div>
            <input type="radio" name="q5" id="q5a"> <label for="q5a"> Parallel computing</label>
            <input type="radio" name="q5" id="q5b"> <label for="q5b">Soft computing</label>
            <input type="radio" name="q5" id="q5c"> <label for="q5c">Distributed computing</label>
            <input type="radio" name="q5" id="q5d"> <label for="q5d"> Cloud computing</label>
            <section> 
                <div class="message correct">
                    <img src="a2.jpg">
                    <p>This is right! <% Score++%></p>
                    <p>C computing refers to the delivery of services such as storage, servers, databases, networking, in the internet without the need to manage them directly.</p>
                </div>
                <p class="message incorrect">This is incorrect!</p>
                <p class="message incorrect_a">
                    
                </p>
            </section>
            <p class="button-next">
                <p class="button-next"><a class="button" href="#q6">Next question</a></p>
            </p>
            
        </div>
    </fieldset>
    <fieldset id="q6" style="background-image: url(im1.jpg)">
        <legend>Which of the following is an example of a PaaS cloud service?</legend>
        <div>
            <input type="radio" name="q6" id="q6a"> <label for="q6a">Heroku</label>
            <input type="radio" name="q6" id="q6b"> <label for="q6b">AWS Elastic Beanstalk</label>
            <input type="radio" name="q6" id="q6c"> <label for="q6c">Windows Azure</label>
            <input type="radio" name="q6" id="q6d"> <label for="q6d"> All of the above</label>
            <section> 
                <div class="message correct">
                    <img src="a2.jpg">
                    <p>This is right! <% Score++%></p>
                    <p> In PaaS, the users receive hardware or software tools from the users on the internet. AWS Elastic Beanstalk, Heroku are example of a PaaS service.</p>
                </div>
                <p class="message incorrect">This is incorrect!</p>
                <p class="message incorrect_a">
                    
                </p>
            </section>
            <p class="button-next">
                <p class="button-next"><a class="button" href="#q7">Next question </a></p>
            </p>
        </div>
    </fieldset>
    <fieldset id="q7" style="background-image: url(im1.jpg)">
        <legend> Which of the following is the correct statement about cloud computing?</legend>
        <div>
            <input type="radio" name="q7" id="q7a"> <label for="q7a">Cloud computing abstracts systems by pooling and sharing resources</label>
            <input type="radio" name="q7" id="q7b"> <label for="q7b">Cloud computing is nothing more than the Internet</label>
            <input type="radio" name="q7" id="q7c"> <label for="q7c">The use of the word “cloud” makes reference to the two essential concepts</label>
            <input type="radio" name="q7" id="q7d"> <label for="q7d"> All of the above</label>
            <section> 
                <div class="message correct">
                    <img src="a2.jpg">
                    <p>This is right! <% Score++%></p>
                    <p>Abstraction and Virtualization are the two essential concepts.</p>
                </div>
                <p class="message incorrect">This is incorrect!</p>
                <p class="message incorrect_a">
                    
                </p>
            </section>
            <p class="button-next">
                <p class="button-next"><a class="button" href="#q8">Next question </a></p>
            </p>
        </div>
    </fieldset>
    <fieldset id="q8" style="background-image: url(im1.jpg)">
        <legend> Identify the correct statement about cloud computing.</legend>
        <div>
            <input type="radio" name="q8" id="q8a"> <label for="q8a">Cloud computing relies on a set of protocols needed to manage interprocess communications</label>
            <input type="radio" name="q8" id="q8b"> <label for="q8b">Platforms are used to create more complex software</label>
            <input type="radio" name="q8" id="q8c"> <label for="q8c">Cloud architecture can couple software running on virtualized hardware in multiple locations to provide an on-demand service</label>
            <input type="radio" name="q8" id="q8d"> <label for="q8d"> All of the mentioned</label>
            <section> 
                <div class="message correct">
                    <img src="a2.jpg">
                    <p>This is right! <% Score++%></p>
                    <p>Explanation: The most commonly used services uses a set of discovery and description protocols based on WSDL.</p>
                </div>
                <p class="message incorrect">This is incorrect!</p>
                <p class="message incorrect_a">
                    
                </p>
            </section>
            <p class="button-next">
                <p class="button-next"><a class="button" href="#q9">Next question </a></p>
            </p>
        </div>
    </fieldset>
    <fieldset id="q9" style="background-image: url(im1.jpg)">
        <legend> Which of the following is the correct statement?</legend>
        <div>
            <input type="radio" name="q9" id="q9a"> <label for="q9a">Cloud computing presents new opportunities to users and developers</label>
            <input type="radio" name="q9" id="q9b"> <label for="q9b">Service Level Agreements (SLAs) is small aspect of cloud computing</label>
            <input type="radio" name="q9" id="q9c"> <label for="q9c">Cloud computing does not have impact on software licensing</label>
            <input type="radio" name="q9" id="q9d"> <label for="q9d"> All of the mentioned</label>
            <section> 
                <div class="message correct">
                    <img src="a2.jpg">
                    <p>This is right! <% Score++%></p>
                    <p>Because it is based on the paradigm of a shared multi-tenant utility.</p>
                </div>
                <p class="message incorrect">This is incorrect!</p>
                <p class="message incorrect_a">
                    
                </p>
            </section>
            <p class="button-next">
                <p class="button-next"><a class="button" href="#q10">Next question </a></p>
            </p>
        </div>
    </fieldset>
    <fieldset id="q10" style="background-image: url(im1.jpg)">
        <legend> Which of the following is an example of a SaaS cloud service?</legend>
        <div>
            <input type="radio" name="q10" id="q10a"> <label for="q10a">Google Workspace</label>
            <input type="radio" name="q10" id="q10b"> <label for="q10b">Dropbox</label>
            <input type="radio" name="q10" id="q10c"> <label for="q10c">Salesforce</label>
            <input type="radio" name="q10" id="q10d"> <label for="q10d">  All of the above</label>
            <section> 
                <div class="message correct">
                    <img src="a2.jpg">
                    <p>This is right! <% Score++%></p>
                    <p> In SaaS, the provider hosts the application and is made available to the users. Google Workspace, Dropbox, Salesforce.</p>
                </div>
                <p class="message incorrect">This is incorrect!</p>
                <p class="message incorrect_a">
                   
                </p>
                <div> <center><button><a href="/next8" style="color: white;"  <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>
            </section>
           
            <p class="button-next">
                <span class="congrats">Congratulations, you have finished the quiz!your Score is <%=Score%></span>
            </p>
           
           
        </div>
       
        
    </fieldset>
    
    
   
    
    
    <section id="start">
        <p class="button-start"><a class="button" href="#q1">Start the quiz</a></p>
    </section>
    
    </form>