<link rel="stylesheet" href="/quiz2.css" />
<form>
	<form action="/quiz" method="post"></form>
    <fieldset id="q1" style="background-color: #02050f; background-image: url(im1.jpg)">
        <legend>Which of the following is the Virtual machine conversion cloud?</legend>
        <div>
            <input type="radio" name="q1" id="q1a"> <label for="q1a">Amazon CloudWatch</label>
            <input type="radio" name="q1" id="q1b"> <label for="q1b">AbiCloud</label>
            <input type="radio" name="q1" id="q1c"> <label for="q1c">BMC Cloud Computing Initiative</label>
            <input type="radio" name="q1" id="q1d"> <label for="q1d">None of the mentioned </label>
            <section> 
               <%var Score=0;%>
                <div class="message correct">
                    <img src="raw.jpg">
                    <p>This is right! <% Score++%></p>
                    
                    <p>BMC Cloud Computing Initiative is used for Cloud planning, lifecycle management, optimization, and guidance.</p>
                </div>
                <p class="message incorrect">This is incorrect!</p>
                <p class="message incorrect_a">
                    <img src="https://i.imgur.com/VFpGLPs.png">
                     <a href="http://онлайн-читать.рф/распе-мюнхаузен-первое-путешествие-на-луну/" target="_blank"></a>
                </p>
                <p class="message incorrect_c"></p>
                <p class="message incorrect_b"></p>
            </section>
            
            <p class="button-next"><a class="button" href="#q2">Next question</a></p>
        </div>
    </fieldset>
    
    <fieldset id="q2" style="background-image: url(im1.jpg)">
        <legend> Which of the following type of virtualization is also characteristic of cloud computing?</legend>
        <div>
            <input type="radio" name="q2" id="q2a"> <label for="q2a">Storage</label>
            <input type="radio" name="q2" id="q2b"> <label for="q2b"> Application</label>
            <input type="radio" name="q2" id="q2c"> <label for="q2c">CPU</label>
            <input type="radio" name="q2" id="q2d"> <label for="q2d">All of the mentioned</label>
            <section> 
                <div class="message correct">
                    <img src="im.jpg">
                    <p>This is right!<% Score++%></p>
                    <p>To enable these characteristics, resources must be highly configurable and flexible.</p>
                </div>
                <p class="message incorrect">This is incorrect!</p>
                <p class="message incorrect_a">
                    
                </p>
                <p class="message incorrect_c"></p>
            </section>
            <p class="button-next"><a class="button" href="#q3">Next question</a></p>
        </div>
    </fieldset>
    
        
    <fieldset id="q3" style="background-image: url(im1.jpg)">
        <legend>refers to the location and management of cloud infrastructure</legend>
        <div>
            <input type="radio" name="q3" id="q3a"> <label for="q3a">Service</label>
            <input type="radio" name="q3" id="q3b"> <label for="q3b">Application</label>
            <input type="radio" name="q3" id="q3c"> <label for="q3c">Deployment</label>
            <input type="radio" name="q3" id="q3d"> <label for="q3d">all of this </label>
            <section> 
                <div class="message correct">
                    <img src="saas1.png">
                    <p>This is right!<% Score++%></p>
                    
                </div>
                <p class="message incorrect">This is incorrect!</p>
                <p class="message incorrect_a">
                  
                </p>
                <p class="message incorrect_c">
                    
                </p>
                <p class="message incorrect_d">
                    
                </p>
                
            </section>
            <p class="button-next">
                <p class="button-next"><a class="button" href="#q4">Next question</a></p>
            </p>
        </div>
    </fieldset>
        
    <fieldset id="q4" style="background-image: url(im1.jpg)">
        <legend>Which of the following models is a deployment model?</legend>
        <div>
            <input type="radio" name="q4" id="q4a"> <label for="q4a">private</label>
            <input type="radio" name="q4" id="q4b"> <label for="q4b">public</label>
            <input type="radio" name="q4" id="q4c"> <label for="q4c"> hybrid</label>
            <input type="radio" name="q4" id="q4d"> <label for="q4d"> All of the above</label>
            <section> 
                <div class="message correct">
                    <img src="a2.jpg">
                    <p>This is right!<% Score++%></p>
                   
                </div>
                <p class="message incorrect">This is incorrect!</p>
                <p class="message incorrect_a">
                    
                </p>
            </section>
            <p class="button-next">
                <p class="button-next"><a class="button" href="#q5">Next question</a></p>
            </p>
        </div>
    </fieldset>
    <fieldset id="q5" style="background-image: url(im1.jpg)">
        <legend> computing refers to applications and services that run on a distributed network using virtualized resources?</legend>
        <div>
            <input type="radio" name="q5" id="q5a"> <label for="q5a"> Distributed</label>
            <input type="radio" name="q5" id="q5b"> <label for="q5b">Cloud</label>
            <input type="radio" name="q5" id="q5c"> <label for="q5c">Soft</label>
            <input type="radio" name="q5" id="q5d"> <label for="q5d">  Parallel</label>
            <section> 
                <div class="message correct">
                    <img src="a2.jpg">
                    <p>This is right! <% Score++%></p>
                 
                </div>
                <p class="message incorrect">This is incorrect!</p>
                <p class="message incorrect_a">
                    
                </p>
            </section>
            <p class="button-next">
                <p class="button-next"><a class="button" href="#q6">Next question</a></p>
            </p>
            
        </div>
    </fieldset>
    <fieldset id="q6" style="background-image: url(im1.jpg)">
        <legend>Which of the following concepts is essential at the cloud level?</legend>
        <div>
            <input type="radio" name="q6" id="q6a"> <label for="q6a">Reliability</label>
            <input type="radio" name="q6" id="q6b"> <label for="q6b">Productivity</label>
            <input type="radio" name="q6" id="q6c"> <label for="q6c">Abstraction</label>
            <input type="radio" name="q6" id="q6d"> <label for="q6d"> All of the above</label>
            <section> 
                <div class="message correct">
                    <img src="a2.jpg">
                    <p>This is right! <% Score++%></p>
                   
                </div>
                <p class="message incorrect">This is incorrect!</p>
                <p class="message incorrect_a">
                    
                </p>
            </section>
            <p class="button-next">
                <p class="button-next"><a class="button" href="#q7">Next question </a></p>
            </p>
        </div>
    </fieldset>
    <fieldset id="q7" style="background-image: url(im1.jpg)">
        <legend> Find the misrepresentation:

        </legend>
        <div>
            <input type="radio" name="q7" id="q7a"> <label for="q7a">All applications benefit from cloud deployment</label>
            <input type="radio" name="q7" id="q7b"> <label for="q7b">With cloud computing, you can start very small and grow very large very quickly.</label>
            <input type="radio" name="q7" id="q7c"> <label for="q7c">Cloud computing is revolutionary, even if the technology it's built on is scalable</label>
            <input type="radio" name="q7" id="q7d"> <label for="q7d"> All of the above</label>
            <section> 
                <div class="message correct">
                    <img src="a2.jpg">
                    <p>This is right! <% Score++%></p>
                   
                </div>
                <p class="message incorrect">This is incorrect!</p>
                <p class="message incorrect_a">
                    
                </p>
            </section>
            <p class="button-next">
                <p class="button-next"><a class="button" href="#q8">Next question </a></p>
            </p>
        </div>
    </fieldset>
    <fieldset id="q8" style="background-image: url(im1.jpg)">
        <legend> provides virtual machines, virtual storage, virtual infrastructure and other hardware assets.</legend>
        <div>
            <input type="radio" name="q8" id="q8a"> <label for="q8a">IAAS</label>
            <input type="radio" name="q8" id="q8b"> <label for="q8b">SAAS</label>
            <input type="radio" name="q8" id="q8c"> <label for="q8c"> PAAS</label>
            <input type="radio" name="q8" id="q8d"> <label for="q8d"> All of the mentioned</label>
            <section> 
                <div class="message correct">
                    <img src="a2.jpg">
                    <p>This is right! <% Score++%></p>
                   
                </div>
                <p class="message incorrect">This is incorrect!</p>
                <p class="message incorrect_a">
                    
                </p>
            </section>
            <p class="button-next">
                <p class="button-next"><a class="button" href="#q9">Next question </a></p>
            </p>
        </div>
    </fieldset>
    <fieldset id="q9" style="background-image: url(im1.jpg)">
        <legend> Which of the following provides development frameworks and control structures?

        </legend>
        <div>
            <input type="radio" name="q9" id="q9a"> <label for="q9a">IAAS</label>
            <input type="radio" name="q9" id="q9b"> <label for="q9b">SAAS</label>
            <input type="radio" name="q9" id="q9c"> <label for="q9c">PAAS</label>
            <input type="radio" name="q9" id="q9d"> <label for="q9d"> All of the mentioned</label>
            <section> 
                <div class="message correct">
                    <img src="a2.jpg">
                    <p>This is right! <% Score++%></p>
                  
                </div>
                <p class="message incorrect">This is incorrect!</p>
                <p class="message incorrect_a">
                    
                </p>
            </section>
            <p class="button-next">
                <p class="button-next"><a class="button" href="#q10">Next question </a></p>
            </p>
        </div>
    </fieldset>
    <fieldset id="q10" style="background-image: url(im1.jpg)">
        <legend> How many service models are primarily present in the cloud?</legend>
        <div>
            <input type="radio" name="q10" id="q10a"> <label for="q10a">1</label>
            <input type="radio" name="q10" id="q10b"> <label for="q10b">2</label>
            <input type="radio" name="q10" id="q10c"> <label for="q10c">3</label>
            <input type="radio" name="q10" id="q10d"> <label for="q10d">4</label>
            <section> 
                <div class="message correct">
                    <img src="a2.jpg">
                    <p>This is right! <% Score++%></p>
                   
                </div>
                <p class="message incorrect">This is incorrect!</p>
                <p class="message incorrect_a">
                   
                </p>
                <div> <center><button><a href="/next27" style="color: white;"  <span>&rarr;</span>Next &#8250;&#8250;</button> </center></div>
            </section>
           
           
            <p class="button-next">
                <span class="congrats">Congratulations, you have finished the quiz!your Score is <%=Score%></span>
            </p>
           
           
        </div>
       
       
        
    </fieldset>
    
    
   
    
    
    <section id="start">
        <p class="button-start"><a class="button" href="#q1">Start the quiz</a></p>
    </section>
    
    </form>

   