<link rel="stylesheet" href="/sommaire.css" />
<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>course page sandbox</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <style>
    
  </style>
</head>
<!--  2019-11-20: Stage headers and lesson text wrap fixes
      Added m-0 to all stage header <li> tags to remove the extra space below the text.
      Updated css for "img.checkbox" and "li.list-group-item a" to fix the wraping text issue on small devices.
      
-->
  <body>
    <div class="container-fluid m-0 p-0">
      
<div id="accordion">
    <div class="card bg-dark rounded-0 p-3 sticky-top">
      <ul class="navbar-nav">
        <li class="nav-item text-white m-0">chapter I (25%)</li>
      </ul>
    </div>
      <div class="card module rounded-0">
    <div class="card-header module-header private-course rounded-0">
  <a class="card-link p-1 stretched-link" data-toggle="collapse" href="#collapse-920cbf97c1315f51ea10af899c3f0a1d">
    <img class="mr-1 module-image" src="https://s3.amazonaws.com/images.prepware.com/apt/icons/pvt/OGS-Intro.png" /> INTRODUCTION
  </a>
</div>
    <div id="collapse-920cbf97c1315f51ea10af899c3f0a1d" class="collapse" data-parent="#accordion">
      <div class="card-body p-0">
        <p class="m-2"><strong>Introduction (17%)</strong></p>
        <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />
        

        <a class="stretched-link" href="/preface">PREFACE</a>
    </li>
    <li class="list-group-item">
      <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />
      

      <a class="stretched-link" href="/next">CLOUD COMPUTIN HISTORY</a>
      </li>
      <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />
        
  
        <a class="stretched-link" href="/next2">Objective</a>
        </li>
        
      </ul>
      </div>
    </div>
  </div>


  <div class="card module rounded-0">
    <div class="card-header module-header private-course rounded-0">
  <a class="card-link p-1 stretched-link" data-toggle="collapse" href="#collapse-c96e9c820877fd29f14ca5e7042c4276">
    <img class="mr-1 module-image" src="cd2.png" /> GENERAL INFORMATION ON CLOUD COMPUTING
  </a>
</div>
    <div id="collapse-c96e9c820877fd29f14ca5e7042c4276" class="collapse" data-parent="#accordion">
      <div class="card-body p-0">
        <p class="m-2"><strong>GENERAL INFORMATION ON CLOUD COMPUTING (20%)</strong></p>
        <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

        <a class="stretched-link" href="/next3">What is Cloud Computing?

        </a>
    </li>
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

        <a class="stretched-link" href="next4">the various Cloud Computing services:Software as service/Platform as a service/infrastructure as a service</a>
    </li>
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/check.svg" alt="checkbox" class="mr-2 checkbox" />

        <a class="stretched-link" href="next5">The different Cloud Computing solutions:The private cloud /The public cloud/The hybrid cloud</a>
    </li>
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

        <a class="stretched-link" href="/next6">open source cloud computing solutions.</a>
    </li>
   
</ul>
      </div>
    </div>
  </div>
  <div class="card module rounded-0">
    <div class="card-header module-header private-course rounded-0">
  <a class="card-link p-1 stretched-link" data-toggle="collapse" href="#collapse-6551a1b50d50aaa355f91c5a6fbc390d">
    <img class="mr-1 module-image" src="n7.jpg" /> CLOUD COMPUTING PLATFORMS


  </a>
</div>
    <div id="collapse-6551a1b50d50aaa355f91c5a6fbc390d" class="collapse" data-parent="#accordion">
      <div class="card-body p-0">
        <p class="m-2"><strong>CLOUD COMPUTING PLATFORMS

          (20%)</strong></p>
        <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next8">the five main characteristics and benefits of the Cloud</a>
    </li>
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next9">salesforce and cloud computing/amazon and cloud computing.</a>
    </li>
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/check.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next10">Windows Azure platform/Manjrasoft Aneka platform.

        </a>
    </li>
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next11">Google App Engine</a>
    </li>
    
</ul>
      </div>
    </div>
  </div>
  <div class="card module rounded-0">
    <div class="card-header module-header private-course rounded-0">
  <a class="card-link p-1 stretched-link" data-toggle="collapse" href="#collapse-1b83656fea7dde8625dc801c788942c8">
    <img class="mr-1 module-image" src="n10.jpg" /> VIRTUALIZATION TECHNOLOGIES
  </a>
</div>
    <div id="collapse-1b83656fea7dde8625dc801c788942c8" class="collapse" data-parent="#accordion">
      <div class="card-body p-0">
        <p class="m-2"><strong>VIRTUALIZATION TECHNOLOGIES (20%)</strong></p>
        <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next12">Definition of virtualization.</a>
    </li>
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next13">the different architectures of operating system virtualization:OS-level virtualization/total virtualization

        </a>
    </li>
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/check.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next14">hardware-assisted virtualization.</a>
    </li>
   
    <li class="list-group-item">
      <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

      <a class="stretched-link" href="/next7">Quiz</a>
  </li>
</ul>
      </div>
    </div>
  </div>

    <div class="card bg-dark rounded-0 p-3 sticky-top">
      <ul class="navbar-nav">
        <li class="nav-item text-white m-0">chaptre II (20%)</li>
      </ul>
    </div>
      <div class="card module rounded-0">
    <div class="card-header module-header private-course rounded-0">
  <a class="card-link p-1 stretched-link" data-toggle="collapse" href="#collapse-707b7b1f965db4683fdc360013151ccb">
    <img class="mr-1 module-image" src="n16.png" /> PARAVIRTUALISATION
  </a>
</div>
    <div id="collapse-707b7b1f965db4683fdc360013151ccb" class="collapse" data-parent="#accordion">
      <div class="card-body p-0">
        <p class="m-2"><strong>paravirtualisation (20%)</strong></p>
        <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next15">paravirtualisation</a>
    </li>
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next16">The different fields of application of virtualization:Server virtualization/Storage virtualization/Application virtualization/Workstation virtualization</a>
    </li>
   
    
</ul>
      </div>
    </div>
  </div>
  <div class="card module rounded-0">
    <div class="card-header module-header private-course rounded-0">
  <a class="card-link p-1 stretched-link" data-toggle="collapse" href="#collapse-3a6f511740b5ed765fa297485348194a">
    <img class="mr-1 module-image" src="n17.jpg" /> GREEN IT AND CLOUD COMPUTING
  </a>
</div>
    <div id="collapse-3a6f511740b5ed765fa297485348194a" class="collapse" data-parent="#accordion">
      <div class="card-body p-0">
        <p class="m-2"><strong>General information on GreenIT (20%)</strong></p>
        <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next17">What is Green IT?</a>
    </li>
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next18">The challenges of Green IT for companies

        </a>
    </li>
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/check.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next19">Le Cloud Computing et le Green IT</a>
    </li>
</ul>
      </div>
    </div>
  </div>
  <div class="card module rounded-0">
    <div class="card-header module-header private-course rounded-0">
  <a class="card-link p-1 stretched-link" data-toggle="collapse" href="#collapse-1b6316a47ee18ea51538a131fed76232">
    <img class="mr-1 module-image" src="https://s3.amazonaws.com/images.prepware.com/apt/icons/pvt/OGS-Weather.png" /> CLOUD COMPUTIN STANDARDS
  </a>
</div>
    <div id="collapse-1b6316a47ee18ea51538a131fed76232" class="collapse" data-parent="#accordion">
      <div class="card-body p-0">
        <p class="m-2"><strong>CLOUD COMPUTIN STANDARDS (20%)</strong></p>
        <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next20">cloud computing standards.</a>
    </li>
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next21">Open Cloud Consortium.

        </a>
    </li>
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/check.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next22">Distributed management task force.</a>
    </li>
  
</ul>
      </div>
    </div>
  </div>
  <div class="card module rounded-0">
    <div class="card-header module-header private-course rounded-0">
  <a class="card-link p-1 stretched-link" data-toggle="collapse" href="#collapse-bfdff11286339f1959ff95299106bc2b">
    <img class="mr-1 module-image" src="n19.png" /> THE ADVANTAGES AND DESADVANTAGES OF CLOUD COMPUTING
  </a>
</div>
    <div id="collapse-bfdff11286339f1959ff95299106bc2b" class="collapse" data-parent="#accordion">
      <div class="card-body p-0">
        <p class="m-2"><strong>THE ADVANTAGES AND DESADVANTAGES OF CLOUD COMPUTING (20%)</strong></p>
        <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next23">why and how to migrate to Cloud Computing.</a>
    </li>
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next24">what paths for a migration to Cloud Computing..</a>
    </li>
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/check.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next25">the economic benefits of Cloud Computing</a>
    </li>
     <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/check.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next26">the advantages and desadvantages of Cloud Computing</a>
    </li>
    <li class="list-group-item">
      <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

      <a class="stretched-link" href="/next34">Quiz</a>
  </li>
</ul>
      </div>
    </div>
  </div>
 

    <div class="card bg-dark rounded-0 p-3 sticky-top">
      <ul class="navbar-nav">
        <li class="nav-item text-white m-0">chapter III (22%)</li>
      </ul>
    </div>
      <div class="card module rounded-0">
    <div class="card-header module-header private-course rounded-0">
  <a class="card-link p-1 stretched-link" data-toggle="collapse" href="#collapse-9f56fa9da608d07adaa24197d8cd8725">
    <img class="mr-1 module-image" src="benchmark.jpg" />BENCHMARK OF THE LARGEST CLOUD PROVIDERS
  </a>
</div>
    <div id="collapse-9f56fa9da608d07adaa24197d8cd8725" class="collapse" data-parent="#accordion">
      <div class="card-body p-0">
        <p class="m-2"><strong>benchmark of the largest Cloud Providers (20%)</strong></p>
        <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next27">definition of the main cloud providers:AWS Amazon/microsoft Azure/IBM cloud /GoogleCloud 

        </a>
    </li>
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next28">a comparative table of the different characteristics of the main cloud hosts:</a>
    </li>
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/check.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next29">how to choose the right cloud for me?</a>
    </li>
    
</ul>
      </div>
    </div>
  </div>
  <div class="card module rounded-0">
    <div class="card-header module-header private-course rounded-0">
  <a class="card-link p-1 stretched-link" data-toggle="collapse" href="#collapse-839649c1930c6016cae226eb1c8e190a">
    <img class="mr-1 module-image" src="en.webp" /> CONCLUSION
  </a>
</div>
    <div id="collapse-839649c1930c6016cae226eb1c8e190a" class="collapse" data-parent="#accordion">
      <div class="card-body p-0">
        <p class="m-2"><strong>Conclusion (20%)</strong></p>
        <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next30">To summurize</a>
    </li>
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next31">thanks</a>
    </li>
 
</ul>
      </div>
    </div>
  </div>
 
      </div>
    </div>
  </div>
  <div class="card module rounded-0">
    <div class="card-header module-header private-course rounded-0">
  <a class="card-link p-1 stretched-link" data-toggle="collapse" href="#collapse-9d872db26bf45ab1fc4530375cce7317">
    <img class="mr-1 module-image" src="https://s3.amazonaws.com/images.prepware.com/apt/icons/pvt/OGS-Communication.png" /> Communication
  </a>
</div>
    <div id="collapse-9d872db26bf45ab1fc4530375cce7317" class="collapse" data-parent="#accordion">
      <div class="card-body p-0">
        <p class="m-2"><strong>Communication (20%)</strong></p>
        <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/contact">Contact Us</a>
    </li>
   
</ul>
      </div>
    </div>
  </div>
  <div class="card module rounded-0">
    <div class="card-header module-header private-course rounded-0">
  <a class="card-link p-1 stretched-link" data-toggle="collapse" href="#collapse-18b49d5d508b2e4e32166f98daf18692">
    <img class="mr-1 module-image" src="https://s3.amazonaws.com/images.prepware.com/apt/icons/pvt/OGS-Tips-Tricks.png" /> Test Tips
  </a>
</div>
    <div id="collapse-18b49d5d508b2e4e32166f98daf18692" class="collapse" data-parent="#accordion">
      <div class="card-body p-0">
        <p class="m-2"><strong>Test Tips (33%)</strong></p>
        <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <img src="https://s3.amazonaws.com/images.prepware.com/grs/checkbox.svg" alt="checkbox" class="mr-2 checkbox" />

<!--        <img src="https://images.prepware.com/apt/lock-black.png" class="req-lock" />-->
        <a class="stretched-link" href="/next33"> Rating test </a>
    </li>
    
</ul>
      </div>
    </div>
  </div>

</div>

<div class="modal fade" id="grs-course-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Purchase Private Pilot Ground School</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm disabled">Purchase</button>
        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    </div>
  </body>
</html>