

body {
	align-items: center;
	background-color: var(--white);
	background: url("i10.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	height: 100vh;
	place-items: center;
}
span {
    color: #5A56D5;
    margin: 0px 5px;
  }
  button {
    font-size: 20px;
    position: relative;
    color: white;
    background:  #2461d2;;
    border: 1px solid #ffffff;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    padding: 10px 20px;
  }
  button::after {
    content:'';
    position: absolute;
    left: 5px;
    top: 5px;
    width: 80%;
    height: 50px;
    padding: 15px 20px;
    border: 1px solid rgba(#22207F,0.8);
    height: 20px;
    border-radius: 20px;
    z-index: -1;
  }
  button::before {
    content:'';
    position: absolute;
    left: 20px;
    top: 15px;
    width: 75%;
    height: 50px;
    padding: 15px 20px;
    border: 1px solid rgba(#22207F,0.5);
    height: 20px;
    border-radius: 20px;
    z-index: -1;
  }
    